dataset
objects_off
data/rgbd-dataset
data/objects_pcd/rgbd-dataset/bowl/bowl_2
data/objects_pcd/rgbd-dataset/bowl/bowl_3
data/objects_pcd/rgbd-dataset/bowl/bowl_4
data/objects_pcd/rgbd-dataset/bowl/bowl_5
data/objects_pcd/rgbd-dataset/bowl/bowl_6
data/objects_pcd/rgbd-dataset/cap/cap_2
data/objects_pcd/rgbd-dataset/cap/cap_3
data/objects_pcd/rgbd-dataset/cap/cap_4
data/objects_pcd/rgbd-dataset/cereal_box/cereal_box_3
data/objects_pcd/rgbd-dataset/coffee_mug/coffee_mug_2
data/objects_pcd/rgbd-dataset/coffee_mug/coffee_mug_3
data/objects_pcd/rgbd-dataset/coffee_mug/coffee_mug_4
data/objects_pcd/rgbd-dataset/coffee_mug/coffee_mug_5
data/objects_pcd/rgbd-dataset/coffee_mug/coffee_mug_6
data/objects_pcd/rgbd-dataset/coffee_mug/coffee_mug_7
data/objects_pcd/rgbd-dataset/coffee_mug/coffee_mug_8
data/objects_pcd/rgbd-dataset/soda_can/soda_can_2
data/objects_pcd/rgbd-dataset/soda_can/soda_can_3
data/objects_pcd/rgbd-dataset/soda_can/soda_can_4
data/objects_pcd/rgbd-dataset/soda_can/soda_can_5
data/objects_pcd/rgbd-dataset/soda_can/soda_can_6

data/site
Parte10
Parte11
Parte12
__pycache__
audio_mestre
rgbd-scenes-v2
